body {
  margin: 0;
  padding: 0;
  font: italic 1.2em "Fira Sans", Sans-serif;
  
}

.container {
  color: #3E3E3E;
  background-color: #f2d3cc;
  display: flex;
  width: 100%;
}
.title {
   margin: 10px;
  padding: 5px;
  font-size: 25px;
}

.left-side {
  margin: 20px;
  width: 50%;
  display: inline-block;
  flex-direction: column;
  flex-grow: 1;
  box-sizing: border-box;
}

.left-side h2 {
  margin-top: 0;
}

.left-side button {
  margin-right: 10px;
  background-color: #A07D7F; 
  border: none;
  color: #3E3E3E;;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
   box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
}

.blog-post {
    box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
    background-color: #F7D2AA;
  padding: 30px;
  margin-bottom: 30px;
}
.blog-post h3 {
  margin-bottom: 10px;
}

.blog-post p {
  margin-top: 0;
  
}

.right-side {
  margin: 20px;
  width: 50%;
  display: inline-block;
  flex-direction: column;
  flex-grow: 1;
  box-sizing: border-box;
  
  
}

.right-side button {
  position: absolute;
  right: 20px;
  background-color: #A07D7F;
  border: none;
  color: #3E3E3E;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
   box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
}


.right-side h2 {
  margin-top: 20%;
    font-size: 38px;
  text-align: center;
  justify-content: flex;
  
  align-items: center;
  
  
  
}

.latest-list a,
.popular-list a {
display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #3E3E3E;
  padding: 10px 15px;
  border-radius: 8px;
  line-height: 15px;
  
}
.latest-list ul li span,
.popular-list ul li span {
 display: inline-block;
  color: #4f4f4f;
  vertical-align: middle;
  
}
.popular-list ul li a,
.latest-list ul li a {
  display: inline-block;
  vertical-align: middle;
    align-items: center;
  
}
.latest-list ul,
.popular-list ul {
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.latest-list ul li,
.popular-list ul li {
  list-style-type: none;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  
}
.no-list-style {
  list-style-type: none;
}